header {
  background-color: #131313e5;
  padding: 8px 48px;
  display: flex;
  gap: 48px;
  align-items: center;
}
nav {
  display: none;
  gap: 32px;
}
.logo {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: medium;
  font-size: 2rem;
  line-height: 40px;
  letter-spacing: 3.2px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #e5e2e1;
}
.red-button {
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  background-color: #8b0000;
  opacity: 80%;
  border: 0;
  color: #ff907f;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
}

nav a {
  color: #ffb4a8;
  text-decoration: none;
}
.hero-section {
  /* height: 85vh; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-image: url("../images/bg-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-attachment: fixed; */
  background-position: 0 0;
  /* background: rgba(255, 144, 127, 0.1); */
}
section {
  padding: 72px 32px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1.28px;
  text-align: center;
  color: #e5e2e1;
}
.info {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0;
  line-height: 28px;
  color: #e3beb8;
  text-align: center;
}
.hero-button {
  border-radius: 12px;
  padding: 16px 32px;
  text-transform: uppercase;
  width: fit-content;
}
.hero-section div {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

.hero-section div button:nth-child(2) {
  background-color: transparent;
  color: #e4e4cc;
  border: 1px solid #e4e4cc;
}

.food {
  background-color: black;
}

.foodp {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  color: #ffb4a8;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 20px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0px;
  color: #e5e2e1;
  text-align: center;
}
img {
  width: 350px;
  height: 435.5px;
}

.osso {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #e5e2e1;
  /* text-transform: capitalize; */
}

.short {
  width: 50%;
}

.doll {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffb4a8;
  /* align-self: flex-end; */
}

img {
  width: 100%;
  object-fit: cover;
}

.foodclass {
  background-color: #20201f;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.dool {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #e3beb8;
}

.second-part {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dish-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 64px;
}
.about {
  background-color: #1c1b1b;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.first {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.2px;
  color: #ffb4a8;
}

.legacy {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0;
  color: #e5e2e1;
  margin-bottom: 16px;
}

.second {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.25px;
  color: #e3beb8;
  margin-bottom: 16px;
}
.third {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #e3beb8;
  margin-bottom: 16px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  color: #e5e2e1;
  text-decoration-color: #ffb4a8;
  text-underline-offset: 4px;
}

.testimonials {
  background-color: #20201f;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.t1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}
.t2 {
  background-color: #2b2b29;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  height: 380px;
}

.timg img {
  width: 75px;
  height: 75px;
  margin-top: 30px;
  margin-right: 28px;
  border-radius: 12px;
}

.icon {
  color: #e9c349;
  padding-bottom: 5px;
  font-size: 1.6rem;
}

.t3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100px;
  font-size: 1rem;
  font-style: italic;
  line-height: 24px;
  color: #e3beb8;
  text-align: center;
  width: 240px;
  height: 144px;
  margin-bottom: 24px;
}

.t4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  color: #e5e2e1;
}

.t5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 32px;
  color: #ffb4a8;
  line-height: 20px;
}

.Re {
  background-image: url("../images/bk-img.png");
  background-repeat: no-repeat;
  background-color: #2b2b29;
  height: 730px;
  width: 100%;
  background-position: 0% 0%;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.make {
  background-color: #20201f;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.mar {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 38px;
  margin-top: 20px;
}

.join {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #e3beb8;
  text-align: center;
  margin-block: 20px;
  line-height: 24px;
}

.step-1 p {
  margin-bottom: 50px;
  margin-top: 50px;
}

.form-box {
  /* width: 100%; */
  padding-inline: 40px;
  margin-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 23.5px;
}

form div,
.date-and-time {
  display: flex;
  flex-direction: column;
  gap: 8.5px;
}

label {
  color: #e3beb8;
  font-weight: 600;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
}

input {
  border-color: #5a403c;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  padding: 9px 13px;
  color: #e5e2e1;
}

.form-box button {
  text-transform: uppercase;
  width: 100%;
}

footer {
   background-color: #1c1b1b;
  display: flex;
  flex-direction:column;
  padding-inline: 48px;
  padding-top: 70px;
}

.footers{
  color: #E3BEB8;
  padding-bottom:24px;
}

.footers h3{
  color: #e5e2e1;
  padding-bottom: 16px;
  
}

h4{
  color: #E5E2E1;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding-block: 16px;
}

p{
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 400;
}


.socials{
  padding-block: 5px;
}

.number{
  padding-bottom: 16px;
}

button {
  padding: 10px;
  width: 200px;
  border-color: rgb(105, 59, 59);
  background-color: transparent;
  color: #e5e2e1;
}

.email{
  display: flex;
  flex-direction:row;
  padding-bottom: 80px;
  gap:0;
}

.submit-btn{
  background-color: #8b0000;
  padding-right: 20px;
}

.year{
  display: flex;
  flex-direction: row;
  
}

.end{
  color: #E3BEB8;
  padding-bottom: 50px;
}

.luna{
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  font-size:11px;
  padding-bottom:5px;
  padding-inline: 5px;
}